@model DnDShopWebsite.Models.ViewModels.CampaignIndexVM

@{
    ViewData["Title"] = "Index";

}

<h1>Campaign List</h1>

<br>
<br>
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createCampaignModal">Register A New Campaign</button>
<partial name="_CreateCampaignModal" model="@Model.CampaignCreationModal" />
<br>
<br>
<br>

<div class="row">

    @foreach (var item in Model.UniqeCampaignNames)    {
        Model.CampaignPartialVM.CurrentCampaignName = item;
        <partial name="_CampaignCardsPartial" model="@Model.CampaignPartialVM" />        
    }
</div>

<a asp-action="Index" asp-controller="Home" class="btn btn-warning">Go Back</a>