@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <div class="row">
        <h1 class="display-4">Welcome to The Wizards Hut!</h1>
        <p>
            Feel free to take a look at our current Campaign openings. If you would like to join a table or even lead a game just let the nearest represenative know and they will be happy to
            aid you in starting your newest adventure.
        </p>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-action="Index" asp-controller="DungeonMaster" style="text-decoration:none;" class="text-light">
            <div class="card bg-dark border-secondary">
                <img src="~/images/dmpic.jpeg" class="card-img" alt="dungeonMasterCardImage">
                <div class="card-body">
                    <h2 class="card-title">Dungeon Master List</h2>
                    <p class="card-text">
                        This is a running list of our register Dungeon Masters and their DnD editions of choice. Please have a look and see if any of them intrest you!
                        You can browse their campagins for openings if you would like. Alternativly if you would like to become a DM you can register your information here.
                    </p>
                </div>

            </div>
            </a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="Player" style="text-decoration:none;" class="text-light">
            <div class="card bg-dark border-secondary" style="height:100%;">
                <img src="~/images/PlayerPic.jpeg" class="card-img" alt="PlayerCardImage">
                <div class="card-body">
                    <h2 class="card-title">Player List</h2>
                    <p class="card-text">
                        The master list of all DnD players at The Wizards Hut. If you would like to gather players for a campain please check our list out
                        or if you want to become a player you can register here!
                    </p>
                </div>

            </div>
            </a>
        </div>
        <div class="col">
             <a asp-action="Index" asp-controller="Campaign" style="text-decoration:none;" class="text-light">
            <div class="card bg-dark border-secondary">
                <img src="~/images/CampaignPic.jpeg" class="card-img" alt="CampaignCardImage">
                <div class="card-body">
                    <h2 class="card-title">Campaign List</h2>
                    <p class="card-text">
                        All of the currently running Campagins in the shop can be found here. We trust our customers immensly but please keep in mind that only employees and Dungeon Masters
                        should delete campaigns. Players are within their rights to remove themslevs from a game should they so choose.
                    </p>
                </div>

            </div>
            </a>
        </div>

    </div>

</div>
<br />
<br />
<br />
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div class="card bg-dark text-light border-danger" style="max-width: 25rem">
            <div class="card-header border-danger">
                Quote of the Day
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>There's a call to adventure. It's something in the inner psyche of humanity...</p>
                    <footer class="blockquote-footer">Gary Gygax</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col">
    </div>

</div>
